@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


nav , p{
    font-family: 'Roboto', sans-serif;
    color: #04146c;
}

nav{
    
    padding: 25px;
    width: 35%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

header{
    border-top: 20px solid #3957F1;
    width: 100%;
}


main{
    text-align: center;
    font-size: 80%;
}



a{
    
    font-weight: 400;
    font-size: 24px;
    color: #04146c
}

.activo{
    font-weight: 700;
}

a:link{
    text-decoration: none;
}
.activo:visited{
    color: #04146c;
}

img{
    width: 100%;
}

#logo{
    width: 25%;
}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 6em;
    color: #0a2ff1;
}

p{
    font-weight: 400;
    font-size: 2.18em;
}

